.footer {
    padding: 22px 0 40px;
}
.footer_menu,
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_content {
    align-items: center;
}
.footer_social__link {
    margin: 0 5px;
}
.footer_social__link:hover {
    padding-bottom: 0;
    border-bottom: none;
}
.footer_logo__link {
    border: 0;
    padding-bottom: 0;
    margin: 0;
}
.footer_logo__img {
    height: 25px;
}
.footer_autor {
    font-size: 12px;
    font-weight: normal;
    color: #80818A;
    opacity: .5;
}
@media(max-width: 768px) {
    .footer_menu,
    .footer_content {
        flex-direction: column;
        align-items: center;
    }
    .footer_logo {
        margin-bottom: 20px;
    }
    .footer_link>a {
        margin: 0  15px;
    }
    .footer_link>a:first-child {
        margin-left: 0;
    }
    .footer_link>a:last-child {
        margin-right: 0;
    }
    .footer_autor {
        margin-bottom: 20px;
    }
}
.favoritesButton {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.favoritesButton:hover {
    background-color: #ee8686;
    color: white;
    transition: all .2s;
}